# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Models
models/
!models/.gitkeep
data/
!data/*/.gitkeep

# IDEs
.idea/
.vscode/

# Logs
*.log
